@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

/* Global Style */
:root {
  font-family: 'Bitter', serif;
  --color-0: white;
  --color-1: black;
  --color-2: navy;
  --color-3: #d8c12b; /* dark gold */
  --color-4: pink;
  --color-2-darker: #000060;
}

html, body {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

/* Layout Helper */
.container {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

@media screen and (max-width: 1024px) {
    .container > .row > .column:last-child {
        display: none;
    }
}

.focused.container {
  padding: 20px;
  //max-width: 600px;
}

.centered {
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

/* Components */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  width: auto;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}

.button:hover {
  cursor: pointer;
}

.primary.button {
  background-color: var(--color-2);
  border: solid 2px var(--color-2);
  color: var(--color-0);
}

.primary.button:hover {
  /*background-color: var(--color-2-darker);
  color: var(--color-0);*/
  background-color: var(--color-0);
  color: var(--color-2);
}

.secondary.button {
  /*background-color: var(--color-3);
  color: var(--color-1);*/
  border: solid 2px var(--color-3);
  color: var(--color-3);
}

.secondary.button:hover {
  background-color: var(--color-3);
  color: var(--color-0);
}

.modal {
  background-color: rgba(0,0,0,0.7);
  z-index: 9001;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > .content {
  background-color: var(--color-0);
  padding: 32px;
  /*border: solid 4px var(--color-0);*/
  border-radius: 4px;
  box-shadow:
    inset   0px 0px 0px 1px #eeeeee,
    1px 1px 1px 1px #eeeeee;
  max-height: 80%;
  max-width: 80%;
  overflow-y: scroll;
}

.modal > .content > .title {
  font-size: 1.5em;
  font-weight: bold;
}

.modal > .content > form > div > .text {
  margin-top: 16px; 
  margin-bottom: 16px;
}

.modal > .content > form > div > input[type='button'] {
  background-color: var(--color-0);
  border: solid 2px var(--color-2);
  color: var(--color-2);
}

.modal > .content > form > div > input[type='button']:hover {
  background-color: var(--color-2);
  color: var(--color-0);
}


.loader-box {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 16px 8px;
}

.loader-box > .message {
}

.loader-box > .loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid var(--color-2);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
  /*flex: 1;*/
  padding: 20px 40px;
  margin: 10px;
  /*min-width: 200px;*/
  border-radius: 4px;
  box-shadow:
    inset   0px 0px 0px 1px #eeeeee,
    1px 1px 1px 1px #eeeeee;
}

.card > .title {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 8px;
}

.card > .body {
  font-size: 0.87em;
  color: #777;
}

.lined.card {
  border-top: solid 2px var(--color-2);
}

.link-tree {
  padding: 0 16px;
  margin-top: 16px;
}

.link-tree > .item {
  margin: 16px 0;
}

.link {
  text-decoration: none;
  color: black;
}

.animated.link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color 0.3s ease 0.3s;
}

.animated.link::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--color-3);
  transition: width 0.3s ease, height 0.3s ease 0.3s;
}

.animated.link:hover {
}

.animated.link:hover::after {
  width: 100%;
}

.label {
  background-color: grey;
  padding: 2px 4px;
  border-radius: 5%;
}

.floating.label {
  position: absolute;
  right: 100%;
  bottom: 100%;
  margin: 1px;
}

.search.form {
  margin: 8px 0;
  height: 32px;
}

.search.form .search.input {
  font-family: inherit;
  flex: 1;
  padding: 2px 8px;
  border: solid 1px lightgrey;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.search.form .search.input:focus {
  border-color: var(--color-2);
}

.search.form .search.button {
  font-family: inherit;
  margin-left: 4px;
}

/* UI Sections */
.sidebar {
  flex: 1;
  max-width: 280px;
  padding: 8px 0;
}

.sidebar > .image {
  display: flex;
  padding: 16px;
  align-items: flex-start;
}

.sidebar > .image > img {
  padding: -16px;
  border-radius: 50%;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.sidebar > .item {
  padding: 8px 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 16px;
}

.sidebar > .item.selected {
  background-color: lightgrey;
}

.sidebar > .item.selected:hover {
}

.sidebar > .item:hover {
  color: var(--color-2);
  cursor: pointer;
}

.sidebar > .item > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
}

.sidebar > .item > .icon > i {
  padding: 0;
}

.sidebar > .item > .content {
}

#headlines-container {
  align-items: stretch;
}

#topics-container {
  align-items: stretch;
}
