@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

:root {
    font-family: 'Bitter', serif;
    --color-0: white;
    --color-1: black;
    --color-2: navy;
    --color-3: gold;
    --color-4: pink;
    --color-2-darker: #000060;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
}

.focused.container {
    padding: 20px;
    max-width: 600px;
}

.centered {
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
}


.card {
    flex: 1;
    padding: 20px 40px;
    margin: 10px;
    min-width: 200px;
    border-radius: 4px;
    box-shadow:
        inset   0px 0px 0px 1px #eeeeee,
                1px 1px 1px 1px #eeeeee;
}

.lined.card {
    border-top: solid 2px var(--color-2);
}

.card > .title {
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 8px;
}

.card > .body {
    font-size: 0.87em;
    color: #777;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    width: auto;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.button:hover {
    cursor: pointer;
}

.primary.button {
    background-color: var(--color-2);
    color: var(--color-0);
}

.primary.button:hover {
    background-color: var(--color-2-darker);
    //color: var(--color-0);
}

.secondary.button {
    /*background-color: var(--color-3);
    color: var(--color-1);*/
    border: solid 2px var(--color-3);
    color: var(--color-3);
}

.secondary.button:hover {
    background-color: var(--color-3);
    color: var(--color-0);
    border: solid 2px var(--color-3);
}

.modal {
    background-color: rgba(0,0,0,0.7);
    z-index: 9001;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal > .content {
    background-color: #222;
    border: solid 4px #222;
    border-radius: 8px;
    //box-shadow: 0 0 0 4px #ccc;
    padding: 32px;
}

.modal > .content > .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 16px;
}

